.torc-indentGuideGroup {
    position: absolute;
    width: 100%;
    display: block;
    white-space: pre;
    padding-left: 10px;
}

.torc-indentGuide {
    border-left: 1px dotted rgba(255,255,255,0.2);
    margin-left: -1px;
    position: relative;
}