.torc-update {
    line-height: 28px;
    border: 1px dashed #666666;
    border-radius: 7px;
    padding: 0 10px;
    margin-left: 16px;
    font-size: 12px;
    cursor: pointer;
}

.torc-update:hover {
    background-color: rgba(255,255,255,0.1);
}
.torc-update:active {
    background-color: rgba(255,255,255,0);
}